<!DOCTYPE html>
<html>
    <head>
        <title> Secret Page</title>
    </head>
    <body>
        <h1>Welcome <%= session.admin.username %></h1>
        <p>this is a secret page that only authenticated users can see</p>
    </body>
</html>